*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f5f7f6;
}

/* ---------- Header ---------- */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: rgba(0, 60, 40, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
}

.logo{
    color: #e4f5e9;
    font-size: 20px;
    font-weight: 700;
}

.navbar a{
    color: #e4f5e9;
    text-decoration: none;
    margin-left: 25px;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover{
    color: #9dffb3;
}

/* ---------- Hero Section ---------- */
.hero{
    height: 93vh;
    background: url("https://images.unsplash.com/photo-1619500765355-8ba767d6e261?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content{
    position: relative;
    color: #ffffff;
    padding: 20px;
}

.hero-content h1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 10px;
    color: #b6ff7d;
}

.hero-content h2{
    font-size: 20px;
    font-weight:900;
    margin-top: -23px;
    letter-spacing: 4px;
}

.hero-content p{
    margin-top: 8px;
    font-size: 20px;
    opacity: 0.9;
    font-weight:200;
    letter-spacing: 3px;
}


.btn{
    display: inline-block;
    height:40px;
    width:200px;
    margin-top: 15px;
    padding: 10px 5px;
    background: #2ecc71;
    color: #003d29;
    text-decoration: none;
    font-size:15px;
    font-weight: 600;
    border-radius: 30px;
    transition: transform 0.3s, background 0.3s;
}

.btn:hover{
    background: #a3ffbf;
    transform: translateY(-4px);
}

/* ---------- Footer ---------- */
.footer{
    width: 100%;
    height: 45px;
    background: #003d29;
    color: #d9fbe5;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
